* {
  box-sizing: border-box;
}
:root{
  --fondo: rgb(255, 252, 248);
  --contrast: #fff3f3;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(255, 252, 248)
}

header {
  margin-top: 10px;
  margin-inline: 15px;
  display: flex;
  border-bottom: rgb(253, 196, 90) solid;
  justify-content: space-between;
  align-items: center;

}

header h1 {
  
  margin: 0;
  margin-inline-end: 1010px;
  
  font-size: 2.5rewm;
}

header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

nav a {
  display: inline-block;
  min-width: 7rem; /* Reducido para ajustarse mejor */
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px orange;
  text-align: center;
  text-decoration: none;
  color: black; /* Asegúrate de que el texto sea visible */
}

nav a[aria-current='page'] {
  color: white;
  background-color: orange;
}

header nav a:hover {

  background-color:orange;
  color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: orange;
}



.contenedor {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 80vh; /* Esto ayudará a centrar verticalmente en la pantalla */
  border-top: orange solid;
  border-bottom: orange solid;
  margin-inline: 15px;
  
}

.informacion {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
  font-size: 20px;
  

}

.imagen {
  flex: 1;
  max-width: 40%;
  text-align: right;
  text-align: center;
}

.imagen img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
}

input[type="text"] {
  margin-top: 20px;
  padding: 0.5rem;
  margin-right: 10px;
  border: 1px solid orange;
  border-radius: 5px;
  width: 70%;
  color: black;
  font-weight: italic;

}

button {
  font-weight: bold;
  margin-top: 20px;
  padding: 0.5rem 1rem;
  border: solid orange;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
  color: white;
  box-shadow: 2px 2px 5px gray;


}

button:hover {
  background-color: orange;
  color: white;
}
